@import "vars";
@import "fonts";

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.btn-hover:hover {
  border: 2px solid $accent;
}
.btn-hover:active {
  background-color: $accent;
}

.buton-hover:hover {
  border: 2px solid $background;
}
.buton-hover:active .menu__btn-text {
  color: $accent;
}
.container {
  margin: 0 auto;
  width: 375px;
}

.container-img {
  width: 375px;
  margin: 0 auto;
  text-align: center;
}
.header__bgr {
  background-color: $accent;
}
.header {
  &__inner {
    min-height: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo__link-img {
  width: 136px;
}

.menu__btn {
  padding-right: 12px;
  background: transparent;
  border: none;
  z-index: 5;
  position: relative;
  cursor: pointer;
}
.menu__list,
.menu__btn-desktop {
  display: none;
}
.menu__link-item {
  display: inline-block;
  color: $somefonts;
  font-size: 17px;
  font-style: normal;
  font-weight: 800;
  line-height: 27px;
  letter-spacing: 0em;
}
.menu__link-item:hover {
  border-bottom: 1px solid $somefonts;
}
.menu li:not(:last-child) {
  margin-bottom: 45px;
}

@media (max-width: 1023px) {
  .menu__list {
    margin: 0;
    height: 328px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    transition: transform 0.5s;
    background-color: $accent;
    transform: translateX(-100%);
  }
  .menu__list.active {
    transform: translateX(0);
  }
}

// Head section //

.head {
  display: none;
}

.head__wrap-img {
  width: 375px;
  padding: 155px;
  background: url("../images/shape.png"), url("../images/layer.png"),
    url("../images/sphere.png"), url("../images/wave.png"),
    url("../images/trolley.png"), url("../images/ellipse.png"),
    url("../images/ellipse2.png");
  background-position: 50% 20%, left 85%, 92% 60%, 89% 45%, 70% 73%, right,
    left 20%;
  background-repeat: no-repeat;
}
.head__wraper {
  width: 335px;
  margin: 0 auto;
  margin-bottom: 51px;
}
.head__title {
  font-size: 27px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0em;
  margin: 0;
}
.head__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  margin-top: 22px;
  margin-bottom: 34px;
}
.head__btn {
  color: $somefonts;
  background-color: $btns;
  width: 335px;
  border: none;
  padding: 17px 0;
  border-radius: 5px;
}

// service section  //

.service {
  padding-bottom: 30px;
}
.service-style {
  background-color: $background;
  padding-bottom: 30px;
}
.service__title {
  width: 230px;
  margin: 0 auto;
  font-size: 23px;
  font-style: normal;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 25px;
}
.selector {
  width: 335px;
  margin: 0 auto;
}
.service__item {
  width: 335px;
  background-color: $somefonts;
  border-radius: 10px;
  margin-bottom: 10px;
}
.service__list {
  padding: 0;
  margin: 0;
}

.faq-title {
  display: block;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 57px;
  width: 185px;
  position: relative;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.faq-input {
  width: 0;
  height: 0;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}
.faq-title::after {
  content: "";
  display: block;
  border-top: 10px solid black;
  border-right: 10px solid transparent;
  border-bottom: 0;
  border-left: 10px solid transparent;
  position: absolute;
  top: 45%;
  right: -70px;
}
.faq-input:checked ~ .faq-title:after {
  transform: rotate(-180deg);
}
.faq-input:checked ~ .faq-text {
  display: block;
}

.faq-input:checked ~ .service__list-titile::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background-color: $accent;
  margin-right: 18px;
}
.faq-input:checked ~ .faq-title {
  width: 185px;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.service__list-titile::before {
  content: "";
  position: absolute;
  top: 34%;
  right: 180px;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background-color: $btns;
  margin-right: 18px;
}
.service__descr-text {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 25px;
  margin-right: 30px;
  border-left: 1px solid #000;
}
.faq-text {
  text-align: center;
  display: none;
  padding: 0px 50px 15px 30px;
}
.form-input{
   border: 1px solid ;
}

// DEVELOPMENT SECTION //

.development__img {
  background: url("../images/svg-icon/sphere4.svg");
  background-repeat: no-repeat;
  background-position: -15px -1px;
}
.development__title {
  padding-top: 45px;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 28px;
  font-size: 23px;
  font-style: normal;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
}
.development__second-title {
  font-size: 17px;
  font-style: normal;
  font-weight: 800;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
.development__description {
  width: 295px;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  padding-right: 45px;
}
p ~ img {
  padding-right: 85px;
}

// slider style //

.slider {
  width: 335px;
  margin: 0 auto;
  border: 2px solid $accent;
  border-radius: 10px;
  max-width: 80%;
  overflow: hidden;
}
.slider-line {
  display: flex;
  transition: all ease 1s;
}
.wrap-btn {
  padding: 25px 0 45px 0;
  text-align: center;
}
.slider-prev {
  border-color: $accent;
  border-radius: 10px;
  margin-right: 100px;
  width: 40px;
  height: 40px;
}
.slider-next {
  border-color: $accent;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}

//  EXAMPLES SECTION  //

.examples__bgr {
  background-color: $background;
}
.examples-desktop {
  display: none;
}
.examples__title {
  padding-top: 20px;
  width: 230px;
  margin: 0 auto;
  font-size: 23px;
  font-style: normal;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
}
.example__slider {
  width: 335px;
  margin: 0 auto;
  max-width: 80%;
  overflow: hidden;
}
.example__slider-line {
  display: flex;
  padding: 0;
  transition: all ease 1s;
}
.example__slider-prev {
  border-color: $accent;
  border-radius: 10px;
  margin-right: 100px;
  width: 40px;
  height: 40px;
}
.example__slider-next {
  border-color: $accent;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}
.example__wrap-btn {
  text-align: center;
  padding-bottom: 30px;
}

.product-thumb {
  position: relative;
  overflow: hidden;
}
.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 335px;
  height: 260px;
  background-color: $accent;
  border-radius: 10px;
  transform: translate(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product:hover .product-overlay {
  transform: translateX(0);
}
.product__title {
  color: $somefonts;
  font-size: 17px;
  font-style: normal;
  font-weight: 800;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  padding-top: 100px;
}
.product__descr {
  color: $somefonts;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}

//  INFO SECTION //

.info__svg {
  background: url("../images/svg-icon/sphere4.svg");
  background-repeat: no-repeat;
  background-position: 83% 1px;
}
.info__title {
  width: 280px;
  margin: 0 auto;
  font-size: 23px;
  font-style: normal;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 45px;
  margin-bottom: 25px;
}
.info_img {
  display: block;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.info_description {
  margin: 0 auto;
  width: 335px;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.info__btn {
  color: $somefonts;
  background-color: $btns;
  width: 335px;
  border: none;
  padding: 17px 0;
  border-radius: 5px;
  margin-top: 35px;
}
.info__wrap {
  text-align: center;
  padding-bottom: 35px;
}

// CONTACTS SECTION  //
.contacts__bgr {
  text-align: center;
  background-color: $background;
}
.contacts__title {
  text-align: center;
  font-size: 23px;
  font-style: normal;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0em;
  padding-top: 40px;
}
.contacts__description {
  width: 280px;
  margin: 0 auto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 25px;
}

.contacts__btn {
  color: $somefonts;
  background-color: $btns;
  width: 335px;
  border: none;
  padding: 17px 0;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 42px;
}
.form-input {
  display: block;
  width: 335px;
  height: 58px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 19px 0 19px 16px;
}

input:focus {
  outline: none;
  border: 2px solid $accent;
}
input:valid {
  border-color: $accent;
}
input:invalid {
  border-color: $accent;
}
input:not(:focus):invalid {
  border-color: $accent;
}
.contacts__img {
  display: block;
  width: 285px;
  margin: 0 auto;
  padding-right: 0;
}

//  FOOTER SECTION  //

.footer__bgr {
  text-align: center;
  background-color: $accent;
  padding-bottom: 140px;
}
.footer__logo {
  margin-top: 30px;
  margin-bottom: 15px;
}
.footer__list {
  width: 260px;
  margin: 0 auto;
}

.footer__item {
  display: flex;
}
.footer__item-name {
  margin-left: 16px;
  color: $somefonts;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.footer__social-icon {
  display: flex;
  justify-content: center;
}
.icon-footer {
  margin-right: 25px;
}
.footer__mail {
  color: $somefonts;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 79px;
}
.footer__text {
  color: $somefonts;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}
.footer-desk {
  display: none;
}

//______ DESKTOP_______//

@media (min-width: 1024px) {
  .container {
    margin: 0 auto;
    width: 1170px;
  }

  .header {
    padding-top: 18px;
    &__bgr {
      text-align: center;
      width: 1700px;
      margin: 0 auto;
    }
    &__inner {
      min-height: 77px;
      align-items: stretch;
    }
  }

  .logo__link-img {
    width: 242px;
  }
  .menu li:not(:last-child) {
    margin-bottom: 0;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: baseline;
    &__btn {
      display: none;
    }
    &__list {
      display: flex;
    }
    &__link-item {
      margin-right: 35px;

      color: $somefonts;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0em;
    }
    &__btn-desktop {
      width: 170px;
      height: 37px;
      display: inline-block;
      background: $btns;
      border: none;
      border-radius: 5px;
    }
    &__btn-text {
      color: $somefonts;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: 0em;
    }
  }
  .head {
    display: block;
    width: 1700px;
    margin: 0 auto;
  }
  .head__wrap-img {
    padding-top: 200px;
    padding-bottom: 180px;
    width: 1700px;
    text-align: center;
    margin: 0 auto;
    background: url("../images/shape-deskt3.png"),
      url("../images/shape-deskt2.png"), url("../images/layer-deskt.png"),
      url("../images/sphere-deskt.png"), url("../images/shape-deskt.png"),
      url("../images/big-troley.png"), url("../images/big-ellipse.png"),
      url("../images/ellipse-deskt.png"), url("../images/sphere-deskt.png"),
      url("../images/blue-wave.png");
    background-position: 86% 83%, 70% 5%, left 95%, 90% 55%, 89% 35%, 80% 73%,
      100% 65%, left 99%, 11% 15%, 56% 57%;
    background-repeat: no-repeat;
  }
  .head__mobile {
    display: none;
  }
  .container-img {
    width: 1700px;
    margin: 0 auto;
    text-align: center;
  }
  .head__title {
    width: 500px;
    text-align: left;
  }
  .head__text {
    width: 432px;
    text-align: left;
  }
  .head__btn {
    display: block;
    margin-right: auto;
  }
  .service__title {
    width: 1169px;
    padding-top: 120px;
    padding-bottom: 0;
    margin-bottom: 80px;
  }
  .selector {
    width: 1169px;
    text-align: center;
    margin: 0 auto;
  }
  .service__item {
    width: 1169px;
  }
  .faq-title::after {
    right: -515%;
  }
  .service__descr-text {
    font-size: 18px;

    line-height: 32px;
  }
  .faq-title::after {
    top: 45%;
    right: -485%;
  }

  .service-style {
    width: 1700px;
    background-image: url("../images/bag.png");
    background-repeat: no-repeat;
    padding-bottom: 110px;
    background-position: 95% 85%;
  }
  .development {
    width: 1700px;
  }
  .development__title {
    width: 680px;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0em;
  }
  .development__img {
    background-position: 5% 5%;
  }

  .examples__bgr {
    width: 1700px;
  }
  .examples__title {
    padding-top: 130px;
    padding-bottom: 45px;
    width: 509px;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0em;
  }
  .examples {
    display: none;
  }
  .examples__bgr {
    padding-bottom: 120px;
  }
  .examples-desktop {
    display: block;
  }
  .product {
    padding: 20px;
  }
  .examples-desk-list {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .example-wrap {
    width: 1170px;
    margin: 0 auto;
  }
  .product-overlay {
    width: 570px;
    height: 477px;
  }
  .product__title {
    margin-top: 90px;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
  }
  .product__descr {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
  }
  .info {
    width: 1700px;
  }
  .flex {
    display: flex;
    justify-content: left;
    padding-top: 160px;
  }
  .info__title {
    width: 630px;
    text-align: left;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0em;
    margin-left: 0;
  }
  .info_img {
    display: block;
    padding-top: 50px;
  }
  .info_description {
    width: 670px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    margin: 0;
  }
  .info {
    background-image: url("..//images/orders-desk.png");
    background-repeat: no-repeat;
    background-position: 90% 90%;
  }
  .info__wrap {
    text-align: left;
  }
  .info_img {
    display: none;
  }
  .contacts__bgr {
    width: 1700px;
  }
  .contacts__img {
    display: none;
  }

  .contacts__bgr {
    background-image: url("../images/phone-desk.png"),
      url("../images/group-desk.png");
    background-position: 20% 50%, 75% 40%;
    background-repeat: no-repeat;
    padding-bottom: 125px;
  }
  .contacts__description {
    width: 400px;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
  }
  .contacts__title {
    padding-top: 180px;

    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0em;
  }
  .footer__bgr {
    width: 1700px;
  }
  .footer {
    display: none;
  }
  .footer-desk {
    display: block;
  }
  .wrap-footer {
    padding-top: 120px;
    display: flex;
    align-items: flex-start;
    align-self: center;
    justify-content: center;
  }
  .footer__logo {
    margin-top: 0;
  }
}
